extends layout

block content
  div(class="main")
    if(bulbs.bulbs[0] != undefined)
      - var i = 0
      each bulb in bulbs.bulbs
        label(for=bulb.name class="bulb")
          i.fa.fa-lightbulb.bulb__img
          p(class="name") #{bulb.name}
          input(type="checkbox" id=bulb.name class="chkBulb" data-num=i data-id=bulb.id)
        - i++
    else 
      .empty Nothing to show here ;-(  

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/indexSocketScript.js")
  script(src="/javascripts/indexSwitchBtnScript.js")


  
